@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
</div>
<partial name="_StatusMessage" model="Model.StatusMessage" />